.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

input {
  font-size: 15pt;
  box-shadow: 1px 1px 2px gray;
  border-style: solid;
  border-radius: 20px;
  padding: 2px;
  padding-left:20px;
  padding-right:20px;
  margin: 2px;
  border-color: black;
  border-width: 2px;
}



select {
  font-size: 15pt;
  background-color: #ff9d00;
  border-radius: 20px;
  border-style: none;
  box-shadow: 1px 1px 2px gray;
  padding: 20px;
  margin:2px;
}

option {
  font-size: 15pt;
}

p { 
  font-size: 15pt;
}

button {
  background-color: #ff9d00;
  box-shadow: 1px 1px 2px gray;
  font-size: 15pt;
  padding-left:10px;
  padding-right:10px;
  margin:2px;
  border-radius:20px;
  border-style:none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
